html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.progress-wrapper {
    position: relative;
    width: 100%; /* match your input width */
    display: none;
}

#uploadProgress {
    width: 100%; /* take full width of parent */
    height: calc(2.25rem + 2px); /* match Bootstrap .form-control height */
    margin-top: 0.5rem; /* small spacing below input */
    display: block; /* ensure it behaves like a block element */
}

#uploadPercent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black; /* or white if you want contrast */
    pointer-events: none; /* allow clicks to pass through */
}

.list-group-item {
    cursor: pointer;
}

    .list-group-item.selected {
        background-color: #007bff; /* Bootstrap primary blue */
        color: #fff;
        font-weight: bold;
    }
